.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  mat-sidenav {
    width: 280px;
  }
  .example-spacer {
  flex: 1 1 auto;
}

.moveright{
  padding-left: 10px;
}

.item {
	display: flex;
	align-items: center;
	padding: 5px;
  background-color:  #005ba9!important;
  height: 45px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
  color: white;
}
.demo-table {
  width: 100%;

}

.atag {
  text-decoration: none !important;
  color: black;
 
  
}

.tablepad{
  padding-top: 15px;
  padding-left: 15px;
  
}

.demo-button-container {
  
  padding-left: 125px;
  width: 110vh;
  
}

.inputWidth{
  width: 105vh;
  
}

.inputWidthh{
  width: 60vh;
  margin-top: 2vh;
}

.demo-button + .demo-button {
  margin-left: 8px;
}



.content{
  display: flex;
  justify-content: space-between;
}




.left{
  padding: 5px;
}


.example-margin {
  margin: 0 12px;
  
}

.container{
  margin-right: 3vh;
}

.icon{
  padding-top: 2.5vh;
  padding-right: 2vh;

}

.addbtton{
padding-top: 1vh;
padding-left: 2vh;
}

.closeicon{
margin-top: 1.5vh;
margin-left: 35vh;
}

.addopt{
  padding-top: 0.8vh;
  
}
